@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;


  font-family: 'Fredoka One', cursive;
  font-family: 'Quicksand', sans-serif;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fdfced;
}

/** HEADER-BRAINS **/

#header-brains {
  width: 100%;
}

.header-brains0 {
  fill: none;
  display: none;
}

.header-brains1 {
  fill:#b54d15;
}

.header-brains2 {
  fill:#f6921e;
}

.header-brains3 {
  fill: #004a41;
}

.header-brains4 {
  fill: #0b8072;
}

.header-brains5 {
  font-family:&apos;Quicksand-Bold&apos;
}

.header-brains6 {
  font-size: 65.4828px;
}

.header-brains7 {
  letter-spacing: -6;
}

.header-brains8 {
  letter-spacing: -1;
}

/** BOXES **/

.info-box {
  margin: 2em;
  padding: 1em;
  background: #fff;
  border: solid 3px #000;
  border-radius: 10px;
  text-align: center;
}

.lb-box {
  margin: 0.5em 0.5em 0.5em 1em;
  padding: 1em;
  background: #e7f4d7;
  border: solid 3px #004a41;
  border-radius: 10px;
  text-align: center;
  color: #004a41;
}

.rb-box {
  margin: 0.5em 1em 0.5em 0.5em;
  padding: 1em;
  background: #f7f5c0;
  border: solid 3px #b54d15;
  border-radius: 10px;
  text-align: center;
  color: #b54d15;
}

/** BRAIN ICONS **/

.planner0 {
  fill: #0b8072;
  stroke: #004a41;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.planner1 {
  fill: #004a41;
}

.planner2 {
  fill: #fff;
}

.planner3 {
  fill: none;
  stroke: #231f20;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.planner4 {
  fill: #223e52;
}

.planner5 {
  fill: #0fa0b9;
}

.emotional0 {
  fill: #f6921e;
  stroke: #b54d15;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.emotional1 {
  fill: #fff;
}

.emotional2 {
  fill: #b54d15;
}

.emotional3 {
  fill: #0fa0b9;
  stroke: #cce9eb;
  stroke-width: 6;
  stroke-miterlimit: 10;
}

.realistic0 {
  fill: #0b8072;
  stroke: #004a41;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.realistic1 {
  fill:#004a41;
}

.realistic2 {
  fill: #fff;
}

.realistic3 {
  fill: #fff;
  stroke: #0Fa0b9;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.realistic4 {
  fill: #0fa0b9;
  stroke:#223e52;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.realistic5 {
  fill: #fff;
  stroke: #0fa0b9;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.impulsive0 {
  fill: #f6921e;
  stroke: #b54d15;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.impulsive1 {
  fill: #fff;
}

.impulsive2 {
  fill: #b54d15;
}

.impulsive3 {
  fill: #fff;
  stroke: #ffc50a;
  stroke-width: 6;
  stroke-miterlimit: 10;
}

.impulsive4 {
  fill: #f05a22;
  stroke: #f06356;
  stroke-width:2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.critic0 {
  fill: #0b8072;
  stroke: #004a41;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.critic1 {
  fill: #fff;
}

.critic2 {
  fill: #004a41;
}

.critic3 {
  fill: none;
  stroke: #0fa0b9;
  stroke-width: 16;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.critic4 {
  fill: #fff;
  stroke: #0fa0b9;
  stroke-width: 10;
  stroke-miterlimit: 10;
}

.critic5 {
  fill: #223e52;
}

.critic6 {
  fill: none;
  stroke: #223e52;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.creative0 {
  fill: #f6921e;
  stroke: #b54d15;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.creative1 {
  fill:#fff;
}

.creative2 {
  fill: #b54d15;
}

.creative3 {
  fill:#ffc50a;
  stroke: #f05a22;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.creative4 {
  fill: none;
  stroke: #b54d15;
  stroke-width: 10;
  stroke-miterlimit: 10;
}

.logical0 {
  fill: #0b8072;
  stroke: #004a41;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.logical1 {
  fill:#fff;
}

.logical2 {
  fill: #004a41;
}

.logical3 {
  fill: #fff;
  stroke: #4ec5e0;
  stroke-width: 6;
  stroke-miterlimit: 10;
  }

.logical4 {
  fill: none;
  stroke: #4ec5e0;
  stroke-width: 6;
  stroke-miterlimit: 10;
}

.logical5 {
  fill: none;
  stroke: #4ec5e0;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.logical6 {
  fill: none;
  stroke: #223e52;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.rational0 {
  fill: #0b8072;
  stroke: #004a41;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.rational1 {
  fill:#004a41;
}

.rational2 {
  fill:#fff;
}

.rational3 {
  fill:#0fa0b9;
}

.rational4 {
  fill:#223e52;
}

.intuitive0 {
  fill:#f6921e;
  stroke: #b54d15;
  stroke-width:3;
  stroke-miterlimit:10;
}

.intuitive1 {
  fill: #fff;
}

.intuitive2 {
  fill:#b54d15;
}

.intuitive3 {
  fill:#ffc50a;
}

.intuitive4 {
  fill: #f05a22;
}

.precise0 {
  fill: #0b8072;
  stroke: #004a41;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.precise1 {
  fill:#fff;
}

.precise2 {
  fill: #004a41;
}

.precise3 {
  fill: none;
  stroke: #0fa0b9;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.precise4 {
  fill: none;
  stroke: #0fa0b9;
  stroke-width: 6;
  stroke-miterlimit: 10;
}

.psychic0 {
  fill: #f6921e;
  stroke: #b54d15;
  stroke-width: 3;
  stroke-miterlimit:10;
}

.psychic1 {
  fill: #fff;
}

.psychic2 {
  fill: none;
  stroke: #b54d15;
  stroke-width: 9;
  stroke-miterlimit: 10;
}

.psychic3 {
  fill: #b54d15;
}
