@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Cabin Sketch';
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #302f1b;
}

/** HEADER **/

#left-brain, #right-brain {
  width: 25%;
}

#vs {
  width: 12%;
}

.left-brain-outline {
  fill: #0f8072;
}

.left-brain-fill {
  fill: #cceaeb;
}

.brain-text {
  fill: none;
}

.vs-white {
  fill: #fff;
}

.vs-text {
  font-family: "CabinSketch-Bold"
}

.vs-text-size {
  font-size: 48px;
}

.right-brain-outline {
  fill: #f7941e;
}

.right-brain-fill {
  fill: #f8f6c0;
}

h1 {
  font
}

